alias start-tomcat='sudo ${CATALINA_HOME}/bin/startup.sh'
alias stop-tomcat='sudo ${CATALINA_HOME}/bin/shutdown.sh'
alias tail-tomcat='cd ${CATALINA_HOME}/logs; tail -f catalina.out'
alias secure-rails='ruby script/secure_rails server'

alias slime='open -a "Sublime Text"'

alias hss='hs-static -p .hs-static update-deps && hs-static -p .hs-static run'
alias proj='cd ~/dev/projects'
alias crm='cd ~/dev/projects/CRM'
alias crmui='cd ~/dev/projects/CRM/crm_ui'
alias siui='cd ~/dev/projects/SalesImportUI'
alias suic='cd ~/dev/projects/SalesUIComponents'
alias si='cd ~/dev/projects/salesImages'
alias cdmt='cd ~/dev/projects/customer-data-mothership-tasks'
alias cdi='cd ~/dev/projects/customer-data-infrastructure'
alias cduu='cd ~/dev/projects/customer-data-ui-utilities'
alias cdr='cd ~/dev/projects/customer-data-rte'
alias cdc='cd ~/dev/projects/customer-data-communicator'

alias bm='bpm i --deps && bend multi webpack-dev-server . ../crm_internal/ ../crm_schema ../crm_data ../crm_components ../crm_rte/'

alias vpn='sudo openconnect --user rczarnecki@hubspot.com vpn.hubspotcentral.com'
alias prepare-cs-stage='tree ~/cs-stage; rm  ~/cs-stage/*; tree ~/cs-stage'

movie-to-gif() { ffmpeg -i "$1".mov -s 600x400 -pix_fmt rgb8 -r 10 -f gif - | gifsicle --optimize=3 --delay=3 > "$1".gif; }
